.container {
    margin-top: 50px;
    background-color: black;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    border-radius: 10px;
}

p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 20px;
}

.text-box {
    background-color: rgb(211, 211, 211);
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 280px;
    height: 50px;
}

button {
    width: 50px;
    height: 50px;
}

.buttons {
    margin-left: 15px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}