.container {
    margin-top: 50px;
    background-color: rgb(255, 180, 223);
    border: solid 4px rgb(255, 104, 187);
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    border-radius: 15px;
}

p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 20px;
}

.text-box {
    background-color: rgb(255, 222, 246);
    color: rgb(255, 8, 144);
    border: solid 4px rgb(255, 200, 230);
    border-radius: 12px;
    margin-left: 6px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 280px;
    height: 50px;
}

button {
    width: 50px;
    height: 50px;
    border: solid 3px rgb(255, 220, 242);
    border-radius: 12px;
    background-color: rgb(255, 228, 245);
    color: rgb(255, 14, 187);
}

.buttons {
    margin-left: 15px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}