.container {
    background-color: black;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.text-box {
    background-color: rgb(211, 211, 211);
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 230px;
    height: 50px;
}

button {
    width: 50px;
    height: 50px;
}

.buttons {
    margin-left: 15px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}